// _base.scss
// 基礎設定

@use "variables" as vars;

:root {
  --base-font-size: #{vars.$base-font-size};
  --base-line-height: #{vars.$base-line-height};
  --letter-spacing: #{vars.$letter-spacing};

  // dark mode font color
  --color-neutral-200: 250, 248, 247;

  // dark mode font color - quote
  --color-neutral-300: 236, 233, 231;

  // background color
  --color-neutral-800: 18, 18, 18;
}
