// _variables.scss
// 基礎變數設定

// 字體相關
$base-font-size: 16px;
$base-line-height: 1.6;
$letter-spacing: 0.025em;
$font-weight-normal: 500;
$article-font-size: 0.9rem;
$font-color: rgb(52, 52, 52);
$font-color-dark: rgb(235, 235, 235);

// 字體堆疊
$font-family-tc: ("LXGW WenKai TC", system-ui);

// 警示框(Admonition)顏色設定
// 淺色模式
$admonition-light-text: #1f2937;

$admonition-note-light: (
  border: #d3d5d8,
  bg: #fdfdfe,
  title: #474748,
);

$admonition-info-light: (
  border: #4db3d4,
  bg: #eef9fd,
  title: #193c47,
);

$admonition-tip-light: (
  border: #009400,
  bg: #e6f6e6,
  title: #003100,
);

$admonition-warning-light: (
  border: #e6a701,
  bg: #fff8e6,
  title: #4d3800,
);

$admonition-danger-light: (
  border: #e13239,
  bg: #ffebec,
  title: #4b1114,
);

// 深色模式
$admonition-dark-text: #f3f4f6;

$admonition-note-dark: (
  border: #d3d5d8,
  bg: #474748,
  title: #fdfdfe,
);

$admonition-info-dark: (
  border: #4db3d4,
  bg: #193c47,
  title: #eef9fd,
);

$admonition-tip-dark: (
  border: #009400,
  bg: #003100,
  title: #e6f6e6,
);

$admonition-warning-dark: (
  border: #e6a701,
  bg: #4d3800,
  title: #fff8e6,
);

$admonition-danger-dark: (
  border: #e13239,
  bg: #4b1114,
  title: #ffebec,
);

// 擴展框相關設定
$expand-border-color: #ddd;
$expand-border-color-dark: #444;
$expand-title-bg: #f7f7f7;
$expand-title-bg-hover: #e0e0e0;

// 連結相關設定
$link-decoration-thickness: 1px;
$link-underline-offset: 2px;

// 裝飾相關
$text-stroke-title: 0.7px;
$text-stroke-header: 1.3px;
