/* 
 * 基礎變數設定
 * 放在 :root 可以讓所有元素都能使用這些變數
 */
:root {
    --base-font-size: 16px;
    --base-line-height: 1.6;
    --letter-spacing: 0.025em;
}


/* 
 * HTML 設定
 * 1. 設定基礎字體大小
 * 2. 確保 rem 單位的正確計算
 * 3. 設定全域的字體平滑度
 */
/* Safari filter */
/* https://www.zhangxinxu.com/wordpress/2024/07/css-safari-detect/ */
@supports not (image-rendering: optimizeSpeed) {
    html {
        /* 基礎字體設定 - 會影響所有使用 rem 單位的元素 */
        font-size: var(--base-font-size);
        font-weight: 500;

        /* 字體平滑度設定 */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* 確保螢幕縮放時的文字行為正常 */
        text-size-adjust: 100%;

        /* 設定基本字體堆疊，作為後備 */
        font-family: sans-serif;
    }
}

body {
    font-family:
        /* Windows 系統字體 */
        "Microsoft JhengHei",
        "PMingLiU",

        /* macOS 系統字體 */
        "PingFang TC",
        "Heiti TC",

        /* 後備字體 */
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;

    /* 繼承 html 的字體大小，但可以用比例調整 */
    font-size: 1rem;

    /* 行高和字距設定 */
    line-height: var(--base-line-height);
    letter-spacing: var(--letter-spacing);

    /* 文字排版設定 */
    word-break: normal;
    overflow-wrap: break-word;
}


strong,
b {
    font-weight: 700;
    -webkit-text-stroke: 0.1px;
}

p {
    word-wrap: break-word;
}

h1.relative.group,
h2.relative.group {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* larger font for screen > 768px */
@media (min-width: 768px) {
    .article-content {
        --font-size: 0.9rem;
    }

    p,
    li,
    ol,
    ul {
        font-size: var(--font-size);
    }

    /* 
    h1.relative.group {
        font-size: 1.85rem;

    }

    h2.relative.group {
        font-size: 1.55rem;
    }

    h3.relative.group {
        font-size: 1.45rem;
    }

    h4.relative.group {
        font-size: 1.3rem;
    }

    h5.relative.group {
        font-size: 1.15rem;
    }

    h6.relative.group {
        font-size: 1rem;
    } */
}


.prose {
    --tw-prose-quote-borders: rgba(var(--color-primary-900), 1);
    --tw-prose-invert-quote-borders: rgba(var(--color-primary-400), 1);
    /* --tw-prose-code:rgba(var(--color-secondary-700), 1); */
    --tw-prose-code: rgba(var(--color-secondary-700), var(--tw-text-opacity, 1));
}

.bg-primary-200 {
    --tw-bg-opacity: 0.95;
    background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
}

.album-cover {
    width: 20rem;
}

p {
    word-wrap: break-word;
}

/* ToC color */
.active {
    /* text-decoration-line: underline; */
    text-decoration-thickness: 1.5px;
    /* text-underline-offset: 4px; */
}

/* ToC underline color */
.prose :where(a.active):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    text-decoration-color: rgba(var(--color-primary-800), 1)
}

/* Scroll bar width */
.scrollbar-thin::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 8px
}

/* 連結顏色 Link colors */
.article-content a {
    text-decoration: none;
    color: rgba(var(--color-primary-800), 1);
    background-image: linear-gradient(rgba(var(--color-primary-800), 1), rgba(var(--color-primary-800), 1)),
        linear-gradient(to right top, rgba(var(--color-primary-300), 1), rgba(var(--color-primary-300), 1));
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px, 0% 0%;
    transition: background-size 0.30s ease;
}

.dark .article-content a {
    color: rgba(var(--color-primary-600), 1);
    background-image: linear-gradient(rgba(var(--color-primary-600), 1), rgba(var(--color-primary-600), 1)),
        linear-gradient(to right top, rgba(var(--color-primary-100), 1), rgba(var(--color-primary-100), 1));
}

.article-content a:hover {
    color: rgba(var(--color-primary-800), 1);
    background-size: 100% 1px, 100% 100%;
}

.dark .article-content a:hover {
    color: rgba(var(--color-primary-600), 1);
    background-size: 100% 2px, 100% 100%;
}


/* .article-content a[href^="#fnref"] {
    position: relative;
    top: 0.35em;
    left: 0.3em;
    background: none;
    padding-bottom: 0;
} */









/* 頁末 footnote */
/* 縮小 footnote 字體 */
.footnotes a {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-300), 1), rgba(var(--color-primary-300), 1)) !important;
}

.dark .footnotes a {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-100), 1), rgba(var(--color-primary-100), 1)) !important;
}

.footnotes,
.footnotes p,
.footnotes li,
.footnotes ol,
.footnotes ul,
.footnotes span {
    font-size: 0.7rem;
}

/* footnote 引用樣式 */
.footnote-ref::before {
    content: "[";
}

.footnote-ref::after {
    content: "]";
}

/* 調整 sup 標籤樣式 */
sup {
    vertical-align: super;
}

/* 移除原本的編號樣式 */
.footnotes ol {
    list-style-type: none;
    padding-left: 0;
}

/* 修改 footnote 列表項的樣式 */
.footnotes ol li {
    font-size: 0.75rem;
    counter-increment: footnote;
    position: relative;
    margin-left: 2em;
    line-height: 1.8;
    margin-bottom: -1.2em;
}

.footnotes ol li:before {
    content: "[" counter(footnote) "]";
    /* 使用計數器顯示編號 */
    font-weight: normal;
    position: absolute;
    left: -1.2em;
    /* 將編號設置在列表項的左側 */
}

/* 將原始編號隱藏 */
.footnotes ol li a:first-child {
    display: inline-block;
    /* 保留超連結的顯示 */
}

.footnote-backref {
    /* margin-left: 1em;
    display: inline-block; */
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-300), 1), rgba(var(--color-primary-300), 1)) !important;
    font-size: 0.75rem;
    vertical-align: -0.15em;
}

.dark .footnote-backref {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-100), 1), rgba(var(--color-primary-100), 1)) !important;
}

.footnote-ref {
    /* margin-left: 1em;
    display: inline-block; */
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-300), 1), rgba(var(--color-primary-300), 1)) !important;
    font-size: 0.75rem;
}

.dark .footnote-ref {
    background-image: linear-gradient(transparent, transparent), linear-gradient(to right top, rgba(var(--color-primary-100), 1), rgba(var(--color-primary-100), 1)) !important;
}





/* 簡碼 Shortcode 區 */
/* hint shortcode */
.book-hint {
    padding: 0.5em 1em;
    margin: 1em 0;
    border-left: 3.5px solid;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
}

.book-hint .hint-content {
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

.book-hint .hint-content>p:first-child {
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
}

.book-hint .hint-content>p:last-child {
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
}

/* 新增針對標題元素的樣式 */
.book-hint .hint-content>h1,
.book-hint .hint-content>h2,
.book-hint .hint-content>h3,
.book-hint .hint-content>h4,
.book-hint .hint-content>h5,
.book-hint .hint-content>h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Info hint */
.book-hint.info {
    --color: 0, 123, 255;
    --opacity: 0.35;
    border-color: rgb(var(--color));
    background-color: rgba(var(--color), var(--opacity));
}

/* Warning hint */
.book-hint.warning {
    --color: 255, 193, 7;
    --opacity: 0.3;
    border-color: rgb(var(--color));
    background-color: rgba(var(--color), var(--opacity));
}

/* Danger hint */
.book-hint.danger {
    --color: 220, 53, 69;
    --opacity: 0.4;
    border-color: rgb(var(--color));
    background-color: rgba(var(--color), var(--opacity));
}










/* expand shortcode */
.expand-wrapper {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    width: 100%;
    /* 確保元素寬度為100% */
    font-size: var(--font-size);
    /* 移除 max-width 的限制 */
    max-width: none;
}


body.zen-mode-enable .zen-mode-content {
    max-width: 100% !important;
}

.expand-toggle {
    display: none;
}

.expand-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: normal;
}

.expand-title:hover {
    background-color: #e0e0e0;
}

.expand-title .expand-icon {
    margin-right: 0.5rem;
    /* 調整圖標與文字之間的距離 */
}

.expand-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    background-color: rgba(var(--color-neutral), 0.1);
    padding: 0 1.8rem;
}

.expand-toggle:checked~.expand-content {
    max-height: 50000px;
    transition: max-height 0.8s ease-in-out;

}

.expand-inner {
    padding: 1.2rem 0;
    color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

/* 暗色模式樣式 */
.dark .expand-wrapper {
    border-color: #444;
}

.dark .expand-title {
    background-color: rgb(var(--color-neutral-900));
    color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.dark .expand-title:hover {
    background-color: rgb(var(--color-neutral-900), 0.75);
}

.dark .expand-content {
    background-color: rgb(var(--color-neutral-900), 0.3);
}

.dark .expand-inner {
    color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.expand-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.expand-toggle:checked+.expand-title .expand-icon {
    transform: rotate(-180deg);
}









/* 進度條 progress bar */
#content_progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: rgb(var(--color-primary-700));
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: rgb(var(--color-primary-700));
}

#content_progress::-moz-progress-bar {
    background-color: rgb(var(--color-primary-700));
}

.dark #content_progress::-webkit-progress-value {
    background-color: rgb(var(--color-primary-50));
}










/* series 選輯 選集 */
.summary-current {
    /* background-color: rgba(var(--color-primary-200), 0.7); */
    color: #000;
    font-weight: bold;
    padding-left: 20px;
    border-left: transparent;
    position: relative;
    border-radius: 4px;
    /* 確保主元素有圓角 */
}

.summary-current::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
    /* Same as .bg-primary-200 */
    border-radius: 10px;
}

.summary-other {
    border-left: 3px solid transparent;
}

/* 深色模式樣式 */
.dark .summary-current {
    /* background-color: rgba(var(--color-primary-800), 0.7); */
    color: #fff;
}

.dark .summary-current::before {
    background-color: rgba(var(--color-primary-700), var(--tw-bg-opacity));
    /* border-radius: 10px; */
}

.dark .summary-other {
    border-left: 3px solid transparent;
}










/* badge.html */
.badge {
    display: inline-block;
    padding: 0.3em .45em;
    background-color: transparent;
    border-radius: 0.725rem;
    margin-right: 0.05rem;
    margin-bottom: 0.05rem;
    white-space: nowrap;
}

.badge:hover {
    background-color: rgb(var(--color-primary-200));
}

.dark .badge:hover {
    background-color: rgb(var(--color-primary-700));
}

.basicHtml-div {
    margin-bottom: -.6em;
    /* 調整底部間距 */
    padding: 0;
}









/* custom highlight color */
/* <span class="bg-color"> */
.bg-color {
    background-color: rgb(var(--color-primary-300));
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dark .bg-color {
    background-color: rgb(var(--color-primary-700));
}









.dark .shiki,
.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* 可选，用于定义字体样式 */
    /* font-style: var(--shiki-dark-font-style) !important; */
    /* font-weight: var(--shiki-dark-font-weight) !important; */
    /* text-decoration: var(--shiki-dark-text-decoration) !important; */
}


/* icon-with-text shortcode */

.text__icon svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -0.1em;
}
