<!-- In head.html 
{{/* Extend head - eg. for custom analytics scripts, etc. */}}
{{/* partialCached "extend-head.html" .Site */}}
-->
<link id="light-mode-css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-light.min.css" rel="stylesheet" integrity="sha256-WT7iR11CrJrnAaF3o1OCW9ZhtiSfoa1LrSMlQIJenoM=" crossorigin="anonymous" referrerpolicy="no-referrer" media="none" onload="if(media!='all')media='all'" />
<link id="dark-mode-css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/atom-one-dark.min.css" rel="stylesheet" integrity="sha256-Qjf/ynzmqttDjEV+CmdbElxTS73aW4f0HzoUlWA7zJs=" crossorigin="anonymous" referrerpolicy="no-referrer" media="none" onload="if(media!='all')media='all'" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js" integrity="sha256-Rx75rpDEB69ED83Ejt/utWIQazJnvRLZkHHBYvtS7TI=" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/matlab.min.js" integrity="sha256-b4Mp6eYO0H7GNjWkL4yUNrSbUg/lKvwuxk9KZWdKtCg=" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>
<script>hljs.highlightAll();</script>
<script src="{{ "js/hljs-copy.js" | relURL }}"></script>