<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("pre").forEach(pre => {
            if (!pre.querySelector(".copy-button")) {
                const button = document.createElement("button");
                button.classList.add("copy-button");
                button.innerHTML = ` <svg aria-hidden="true" viewBox="0 0 16 16" class="octicon octicon-copy" > <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z" ></path> <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z" ></path> </svg> <svg class="check-icon" viewBox="0 0 36 36" > <polygon fill="green" fill-rule="evenodd" points="9.707 14.293 19 5 20.414 6.414 9.707 17.121 4 11.414 5.414 10" /> </svg> `;
                pre.appendChild(button);

                const successMessage = document.createElement("span");
                successMessage.classList.add("copy-success");
                successMessage.innerText = "Copied!";
                pre.appendChild(successMessage);

                button.addEventListener("click", function () {
                    const code = pre.querySelector("code").textContent;

                    navigator.clipboard.writeText(code).then(function () {
                        const copyIcon = button.querySelector(".octicon-copy");
                        const checkIcon = button.querySelector(".check-icon");

                        copyIcon.style.display = "none";
                        checkIcon.style.display = "block";

                        successMessage.style.display = "block";

                        setTimeout(function () {
                            successMessage.style.display = "none";
                            copyIcon.style.display = "block";
                            checkIcon.style.display = "none";
                        }

                            , 2000);
                    });
                });
            }
        });
    });

</script>
<style>
    pre {
        position: relative;
        overflow: auto;
        padding: 16px;
        background-color: #f5f5f5;
        border-radius: 6px;
        font-size: 14px;
        line-height: 1.5;
        white-space: pre;
        word-wrap: normal;
        max-width: 100%;
        min-width: 300px;
        box-sizing: border-box;
    }

    .copy-button {
        display: inline-block;
        background-color: transparent !important;
        color: #2f363d;
        border: none;
        padding: 0;
        font-size: 16px;
        z-index: 9999999;
        cursor: pointer;
        visibility: visible;
        position: absolute;
        /* 讓按鈕固定在 pre 內部 */
        top: 8px;
        right: 12px;
        width: 28px;
        height: 28px;
        border-radius: 6px;
        overflow: hidden;
    }


    .copy-button svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        fill: #4d4d4d;
    }

    .dark .copy-button svg {
        fill: #c8c8c8;
    }

    .copy-button:hover {
        background-color: #d1d5da !important;
        border-radius: 6px;
    }

    .copy-button:active {
        background-color: #b0b6b9 !important;
    }

    .dark .copy-button:hover {
        background-color: #444c56 !important;
    }

    .copy-button .check-icon {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
        fill: green;
        display: none;
    }

    .copy-success {
        font-size: 12px;
        line-height: 24px;
        color: #ffffff;
        background-color: #3E444D;
        position: absolute;
        top: 8px;
        right: 46px;
        transform: translate(0, 0);
        padding: 2px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        z-index: 10000;
        opacity: 1;
        visibility: visible;
        display: none;
        text-align: center;
        font-family: 'Arial', sans-serif;
    }
</style>
